/* Define variables */
:root
{
    --top-piano-height: 40px;
    --top-piano-spacing: 2px;
    --top-piano-white-key-width: 6px;
    --top-piano-black-key-spacing: calc(var(--top-piano-white-key-width) - var(--top-piano-spacing));
    --top-piano-black-key-init-off: calc(var(--top-piano-white-key-width) / 4); /* Initial offset for black key */
}

/*
Add submenus in dropdowns
https://stackoverflow.com/questions/18023493/bootstrap-dropdown-sub-menu-missing
*/

.dropdown-submenu
{
    position: relative;
}

.dropdown-submenu .dropdown-menu
{
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.navbar-nav li:hover > ul.dropdown-menu
{
    display: block;
}

/* Make background black to not blind people */
body
{
    background-color: black;
}

/* Hide original file input box */
#file-in
{
    display: none;
}

/* Make icons larger */
i.bi
{
    font-size: 2em;
    color: white;
}

/* For desktop devices */
i.bi:hover
{
    cursor: pointer;
}
