/* Define CSS variables */
:root
{

}

/*
Add submenus in dropdowns
https://stackoverflow.com/questions/18023493/bootstrap-dropdown-sub-menu-missing
*/

.dropdown-submenu
{
    position: relative;
}

.dropdown-submenu .dropdown-menu
{
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.navbar-nav li:hover > ul.dropdown-menu
{
    display: block;
}

/* Make background black to not blind people */
body
{
    background-color: black;
}

/* Make texts white by default */
p
{
    color: white;
}

/* Add a class for horizontal item placements */
div.horizontal-container>*
{
    display: inline-block;
}

/* Place the main editor in the right place */
div#editor
{
    display: inline-flex;
}

/* Darken track displays to not blind people */
.track-disp
{
    background-color: #3d3d3d;
}

/* Get some margin around track displays */
.track-disp .horizontal-container .btn-group
{
    margin-right: 1em;
}

/* Hide original file input box */
#file-in
{
    display: none;
}

/* Make icons white */
i.bi
{
    color: white;
}

/* Make the mute button larger */
i.bi#sound-toggle
{
    font-size: 2em;
}

/* For desktop devices */
i.bi:hover
{
    cursor: pointer;
}

/* Make the toolbar display a little nicer */
#toolbar .toolbar-top-align
{
    vertical-align: top;
}

/* Display the "select" icon correctly */
#icon-select
{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px white dashed;
}
